.guess-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 2rem;
  background: linear-gradient(#000000c7, #1a1a1ada);
  padding: 2rem 0;
}

.button-secondary {
  margin-top: 6rem;
}
