.input {
  height: 3rem;
  width: 6rem;
  background-color: #181216;
  color: #ff4fdb;
  font-size: 1.25rem;
  border: 0.1rem solid transparent;
  font-weight: 500;
  background: linear-gradient(#181216, #181216),
    linear-gradient(95deg, #ff4fdb 0%, #31d7fa 100%);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  outline: none;
  cursor: pointer;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
