@import './shared/index.css';
@import './fonts.css';
@import './game/index.css';

body {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  background: linear-gradient(to bottom, #14040f 0%, #030203 50%, #020202 100%);
  font-size: 16px;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

h1 {
  font-size: 3rem;
  text-shadow: 0 0 0.5rem #6300bd, 0 0 0.5rem #ff4fdb;
  color: #ff4fdb;
  font-family: 'Retrolight', sans-serif;
  font-weight: 300;
  font-style: normal;
  transition: text-shadow 0.3s ease-in-out;
  cursor: pointer;
  letter-spacing: 0.5rem;
  text-align: center;
  margin: 2rem 0;
}

h1:hover {
  text-shadow: 0 0 1rem #6300bd, 0 0 1rem #ff4fdb;
}

.content {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.play-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff4fdb;
  cursor: pointer;
  height: 2rem;
  width: 2rem;
  border: 0;
}

.pause-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #31d7fa;
  cursor: pointer;
  height: 2rem;
  width: 2rem;
  border: 0;
}

.music-controls {
  position: absolute;
  right: 2rem;
  top: 1rem;
}

.music-controls-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.light {
  background-color: #feba6a;
  width: 30rem;
  height: 30rem;
  position: absolute;
  display: inline;
  filter: blur(400px) brightness(2) opacity(0.4);
  z-index: -1;
}

@media (min-width: 768px) {
  h1 {
    font-size: 6rem;
  }
}

@media (orientation: landscape) and (max-width: 1200px) {
  h1 {
    font-size: 3rem;
    margin: 1rem 0;
  }
}
